<!doctype html>
<head>
    <meta charset="utf-8" />
    <title> Login </title>

<form action="/login" method="post">

    <h1> Login~ </h1>
    <div>
        <label>Userid:</label>
        <input type="text" name="Userid"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="login"/>
    </div>
</form>